<%- includes('../partials/header') %>

    <h3><%= skill.skill %></h3>
    <h3>Years of experience: <%= skill.experience %></h3>
    <a href="/skills">Back to skills</a>
    
    <%- includes('../partials/footer') %>
  
